/* index */
/* row 1 */
.r1 {
  min-height: 35rem;
}

.c1f {
  padding-left: 0.5rem;
  padding-right: 0.25rem;
}

.c1s {
  padding-left: 0.25rem;
  padding-right: 0.5rem;
}

.title {
  padding-top: 2.7rem;
  padding-left: 3rem;
  padding-right: 2rem;
  background-color: #5a4943;
  height: 35rem;
  min-width: 24rem;
  margin-top: 0;
}

.desifood {
  height: 35rem;
  object-fit: cover;
}

.just {
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
  color: #fea76b;
}

.desi {
  font-family: 'Gentium Book Basic', serif;
  font-size: 3rem;
  color: #fea76b;
}

.titledesc1 {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 3.3rem;
}

.titledesc2 {
  color: #d0d0d0;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
}

.btnsignin {
  color: white;
}

.filter {
  filter: grayscale(15%);
}

/* row 2 */
.r2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  min-height: 30rem;
}

.c2 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: auto;
  padding: 3rem;
}

.fa-7x {
  color: #b4846c;
}

.adv {
  font-weight: bold;
  line-height: 2;
  color: #555;
}

.advdesc {
  color: grey;
  line-height: 2;
}

/* row 3 */
.r3 {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 6rem;
  min-height: 20rem;
  background-color: #fff;
  line-height: 20rem;
  text-align: center;
}

.rev {
  font-family: 'Raleway', sans-serif;
  padding-left: 10rem;
  padding-right: 10rem;
  color: #94644c;
  font-size: 1.6rem;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.5;
  padding-bottom: 2rem;
}

.custname {
  color: #555;
  font-size: 1rem;
}

@media (max-width:900px) {
  .rev {
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size: 1.5rem;
  }

  .custname {
    font-size: 0.9rem;
  }
}

@media (max-width:750px) {
  .rev {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size: 1.4rem;
  }

  .custname {
    font-size: 0.8rem;
  }
}

/* row 4 */
.r4 {
  background-color: #222;
  min-height: 7rem;
}

.c4 {
  font-family: 'Raleway', sans-serif;
  padding-top: 3rem;
  text-align: center;
  color: white;
  font-size: 13px;
  font-weight: lighter;
  text-decoration: none;
}

.lc4 {
  text-decoration: none;
}

.lc4:hover {
  color: grey;
  text-decoration: none;
}

/* end of index */
/* navbar */
nav {
  background-color: #5a4943;
}

.navbar {
  font-family: 'Raleway', sans-serif;
  padding: 0.5rem 1rem;
}

.nav-item {
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
}

.welcome {
  color: #ffffff50;
  font-size: 0.9rem;
  padding:1rem;
  margin-left: auto;
}


@media (max-width:992px) {

  .welcome {
    order:0;
  }
  .navbar-toggler {
    order:1;
    margin-left:15px;
    margin-right:0;
  }

  .navbar > .collapse {
    margin-top:2rem;
  }

}


/* no sign in */
.aboutrow, .contactrow {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0px;
}

.column {
  flex: 50%;
  max-width: 50%;
  padding: 0 0px;
}

.column img {
  margin-top: 2px;
  vertical-align: middle;
  width: 100%;
}

.restpic {
  width: 30%;
  float: left;
  border: 2rem solid #fff;
  filter: grayscale(40%);
}

.content, .reach, .touch {
  padding: 2rem;
  font-family: 'Raleway', sans-serif;
  line-height: 3;
  font-size: 1.1rem;
}

.touch {
  text-align: right;
  font-size: 1rem;
  padding-right: 4rem;
}

.reach {
  font-size: 1rem;
  padding-left: 4rem;
}

.abouthead, .contacthead {
  font-size: 3.5rem;
  color: black;
  line-height: 2;
}

.content {
  color: #444;
}

.contactrow {
  color: #afafaf;
  margin-top: 3rem;
  background-color: #222;
}

.mb-3 {
  width: 90%;
  float: right;
}

.contacthead {
  color: #e0e0e0;
}

.feed {
  line-height: 1;
  background-color: #222;
  border: 1px solid white;
  color: #afafaf;
}

.feed:enabled {
  background-color: #222;
  color: #afafaf;
}

hr {
  width: 50%;
  border: 1px solid green;
  opacity: 80%;
  color: green;
}

.submit-1 {
  color: #afafaf;
}

/*sign in page*/
.nav-link {
  color: green;
}

.nav-link:hover {
  color: green;
}

.sform {
  background-color: white;
  color: #222;
  border: 0;
  border-bottom: 1px solid #222;
  margin: 1rem 0;
  padding: 0.8rem;
}

.sform:enabled {
  background-color: white;
  color: #222;
  border: 0;
  border-bottom: 1px solid #222;
  margin: 1rem 0;
}

.sform:focus {
  box-shadow: 0 0 0 0.25rem #CEE5D0;
}

.sign {
  color: #fff;
  background-color: green;
  padding: 0.5rem 3rem;
  border: 2px solid green;
  box-shadow: 0px 10px 10px #ddd;
  border-radius: 0;
}

.sign:focus {
  color: #fff;
  background-color: green;
  border: 2px solid green;
  box-shadow: 0px 10px 10px #ddd;
}

.sign:active:focus {
  box-shadow: 0 0 0 0.25rem #CEE5D0;
}

.sign:hover {
  background-color: white;
  color: green;
  border: 2px solid green;
  box-shadow: 0px 10px 10px #ddd;
}

.close {
  background-color: white;
  color: #222;
  border: 0;
  margin-left: 10rem;
}

.close:active:focus {
  box-shadow: 0px 10px 10px #fff;
}

.close:hover {
  background-color: white;
  color: green;
  border: 0;
}

.modal-body {
  padding: 2rem;
}

.text-center {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.modal-content {
  box-shadow: 0px 10px 10px #222;
}

/* resizing */
@media screen and (max-width: 1020px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }

  .content {
    padding-top: 0;
    text-align: center;
  }

  hr.abouthr {
    flex: 50%;
    margin: auto;
    margin-bottom: 2rem;
  }

  .touch {
    padding-top: 0;
  }

  .mb-3 {
    width: 70%;
  }

  .close {
    margin-left: 9rem;
  }
}

@media screen and (max-width:680px) {
  .mb-3 {
    width: 100%;
  }

  .close {
    margin-left: 8rem;
  }
}

/* end of no sign in */
/* menu */
/* menu row 1 */
.menurow1 {
  min-height: 30rem;
  margin: 0;
  background-image: url("Images/Menu1.jpeg");
  background-size: auto 30rem;
  background-position: right;
}

.menutitle {
  padding-left: 6rem;
  padding-top: 6rem;
  padding-right: 37rem;
  line-height: 3;
}

.menutitlehead {
  margin: 0;
  font-size: 3.5rem;
  font-weight: bold;
}

.menutitledesc {
  font-size: 1rem;
}

/* menu row 2 */
.card {
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 0rem;
}

.value {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.add {
  background-color: #5a463a;
  width: 100%;
  color: #fff;
  border: 0;
  border-radius: 0;
  font-family: 'Raleway', sans-serif;
  padding: 0.8rem 0;
}

.add:active:focus {
  box-shadow: 0px 0px 10px 2px #dcc;
  background-color: #432;
}

.add:focus {
  box-shadow: 0px 0px 10px 2px #fff;
  background-color: #5a463a;
}

.add:hover {
  background-color: #432;
  color: #fff;
  border: 0;
}

.card-img-top {
  height: 7rem;
  object-fit: cover;
}

.card-title {
  font-family: 'Raleway', sans-serif;
  color: #333;
  font-size: 1.35rem;
}

.card-text {
  font-family: 'Raleway', sans-serif;
  line-height: 2;
  color: #00000098;
}

/* menu row 3 */
.menurow3 {
  margin: 4rem 2rem;
}

.menucatrow1, .menucatrow2, .menucatrow3 {
  padding: 2rem 0rem;
  margin: auto;
}

.menuheadsi, .menuheadni, .menuheadbev {
  font-size: 2.5rem;
  font-weight: bolder;
  font-family: 'Raleway', sans-serif;
  margin: 2rem auto;
  margin-top: 0rem;
  color: #222;
  padding-bottom: 1rem;
  border-bottom: 3px solid #22222290;
}

.menucontent {
  font-family: 'Raleway', sans-serif;
}

.menunamerow {
  padding: 2rem;
  border-bottom: 1px solid #00000050;
}

.menuname {
  font-size: 1.3rem;
}

.menuprice {
  color: #00000080;
}

.menuaddsi, .menuaddni, .menuaddbev {
  padding: 0.3rem 1.7rem;
  background-color: green;
  color: #fff;
  border: 1px solid green;
  border-radius: 0;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
}

.menuaddsi:focus,  .menuaddni:focus, .menuaddbev:focus {
  background-color: green;
  color: #fff;
  border: 1px solid green;
  box-shadow: 0 0 0 0rem #fff;
}

.menuaddsi:active:focus, .menuaddni:active:focus, .menuaddbev:active:focus {
  box-shadow: 0 0 0 0.25rem #cEe5d0;
  text-align: center;
}

.menuaddsi:hover, .menuaddni:hover, .menuaddbev:hover {
  background-color: #050;
  border: 1px solid #050;
  box-shadow: 0 0 0 0rem #fff;
}

.modalqtybody {
  padding: 2rem;
  text-align: center;
  line-height: 3;
}

.menuqtyno {
  width: 100%;
  padding-left: 1rem;
  margin: auto;
}

.menucarthead {
  padding: 1rem 0;
}

.menucart {
  font-family: 'Raleway', sans-serif;
  padding-left: 0.5rem;
  background-color: #222;
  color: white;
  margin: 5rem 0rem;
  margin-top: 11rem;
}


.menucartrow {
  padding: 1rem;
}

.menucartfoot {
  padding: 1rem;
  padding-bottom: 2rem;
}

.menucheckout {
  padding: 1rem 1rem;
  background-color: #222;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 0;
  font-size: 1rem;
  font-weight: bold;
  height: 100%;
  width:100%;
}

.menucheckout:focus {
  background-color: #222;
  color: #fff;
  border: 1px solid #fff;
  box-shadow: 0 0 0 0rem #222;
}

.menucheckout:active:focus {
  box-shadow: 0 0 0 0.25rem #ffffff90;
  text-align: center;
}

.menucheckout:hover {
  color:#ffffff80;
  background-color: #222;
  border: 1px solid #ffffff80;
  box-shadow: 0 0 0 0rem #222;
}

.fa-trash-alt {
  padding-top:15%;
  padding-left: 50%;
}

.fa-trash-alt:hover, .trash:hover {
  color: #ffffff80;
}

/* resizing */
@media screen and (max-width:1255px) {
  .menutitle {
    padding-top: 5rem;
    padding-right: 35rem;
  }
}

@media screen and (max-width:1223px) {
  .menutitle {
    padding-top: 5rem;
    padding-right: 33rem;
  }

  .menutitlehead {
    font-size: 3rem;
  }
}


@media screen and (max-width:1110px) {
  .menutitle {
    padding-top: 3rem;
    padding-right: 33rem;
  }

  .menutitlehead {
    font-size: 3rem;
  }
}

@media screen and (max-width:1009px) {
  .menurow1 {
    background-image: url("Images/Menu2.jpg");
    background-position: center;
  }

  .menutitle {
    padding: 5rem;
    text-align: center;
    background-color: #ffffff95;
    margin: 1rem;
    margin-top: 0;
    border: #ffffff;
  }

  .menutitlehead {
    font-size: 3.5rem;
    margin-bottom: 2.5rem;
  }

  hr.menuhr {
    flex: 50%;
    margin: auto;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width:990px) {
  .menucart {
    margin-top: 2rem;
  }
}

@media screen and (max-width:603px) {
  .menurow1 {
    background-image: url("Images/Menu3.jpeg");
    background-position: center;
  }

  .menutitle {
    padding: 3rem;
  }

}

/* end of menu */


/* cart */

.cart {
  font-family: 'Raleway', sans-serif;
  margin: auto;
  padding:5rem;
  color: #222;
  margin: 1rem 5rem;
  margin-top: 0;
}

.carthead {
  padding: 2rem;
  margin-bottom: 4rem;
  border-bottom: 4px solid green;
  line-height: 3;
}

.cartrow {
  padding: 3rem 5rem;
  border-bottom: 1px solid #ffffff50;
  background-color: #222;
  color: #fff;
}

.cartdetails {
  padding: 2rem;
  margin-top: 4rem;
}

.name, .phone, .address {
  padding:1rem 3rem;
  text-align: center;
}

.nameip, .phoneip, .addressip {
  padding:1.5rem;
}

.nameip:focus, .phoneip:focus, .addressip:focus {
  box-shadow: 0 0 0 0.25rem #55ff5550;
}

.cartname {
  font-size: 1.3rem;
}

.cartprice {
}

.cartqty {
}

.cartfoot {
  margin:2rem 3rem;
  padding: 1rem;
}

.checkout {
  padding: 1.5rem 1.7rem;
  background-color: green;
  color: #fff;
  border: 1px solid green;
  border-radius: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.checkout:focus {
  background-color: green;
  color: #fff;
  border: 1px solid green;
  box-shadow: 0 0 0 0rem #fff;
}

.checkout:active:focus {
  box-shadow: 0 0 0 0.25rem #00660020;
  text-align: center;
}

.checkout:hover {
  color:#fff;
  background-color: #050;
  border: 1px solid #050;
  box-shadow: 0 0 0 0rem #fff;
}

.carttrash {
  color: #ffffff50;
}

.carttrash:hover {
  color: #a00;
}

.total {
  margin-top:auto;
  margin-bottom:auto;
  text-align:right;
}

.orderdetails {
  margin-top: 2rem;
  padding: 3rem 1rem;
  font-size: 1.6rem;
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  text-align: center;
  background-color: #00ff0020;
}

.orderedfood {
  padding:2rem;
  font-size: 1.1rem;
  line-height: 2;
}


.goback {
  text-align:center;
  padding-top:2rem;
  color: #ffffff90;
}

.goback:hover {
  color: #ffffff50;
}


@media screen and (max-width:996px) {
  .checkout {
    padding: 1.5rem 1.5rem;
}

@media screen and (max-width:822px)
{
  .cart {
    margin: 1rem 2rem;
  }
  .carthead {
    text-align: center;
  }
}

@media screen and (max-width:688px)
{
  .cart {
    margin: 1rem 0rem;
    padding:3rem;
  }
}

@media screen and (max-width:570px)
{

  .cart {
    margin: 5rem 0rem;
    padding:0rem;
  }
}
